@mixin transform-translate($x, $y)
  -ms-transform: translate($x, $y)
  transform: translate($x, $y)

.App
  height: 100dvh

.grid2x2
  display: grid
  grid-template-columns: 50% 50%

.cell
  opacity: 50%
  position: relative

.cell0
  background: red

.cell1
  background: green

.cell2
  background: yellow

.cell3
  background: blue

.buttons
  position: absolute
  left: 50%
  top: 50%
  @include transform-translate(-50%, -50%)
