.App
  height: 100dvh

.grid2x2
  display: grid
  grid-template-columns: 50% 50%

.cell
  opacity: 50%
  padding: 10dvmin

.cell0
  background: red

.cell1
  background: green

.cell2
  background: yellow

.cell3
  background: blue

.buttons
  height: 100%

button
  height: 100%
  padding: 0
