.App
  height: 100dvh

@mixin grid-gap($len)
  grid-column-gap: $len
  grid-row-gap: $len

.grid2x2
  display: grid
  grid-template-columns: 50% 50%

.cell
  opacity: 50%
  padding: 10dvmin

.cell0
  background: red

.cell1
  background: green

.cell2
  background: yellow

.cell3
  background: blue

.buttons
  height: 100%
  @include grid-gap(2dvmin)

button
  height: 100%
  border: 0
  padding: 0

.invisible
  visibility: hidden
